<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
<!-- polyfill -->
	<script src="midi/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="midi/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="midi/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="midi/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="midi/js/midi/gm.js" type="text/javascript"></script>
	<script src="midi/js/midi/loader.js" type="text/javascript"></script>
	<script src="midi/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="midi/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="midi/js/midi/plugin.webmidi.js" type="text/javascript"></script>
	<!-- utils -->
	<script src="midi/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="midi/js/util/dom_request_script.js" type="text/javascript"></script>

	<script type="text/javascript" src="jquery.elastic.source.js"></script>
	<script type="text/javascript" src-"jquery-linedtextarea.js"></script>
	<script type="text/javascript" src="beatpoints.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<span>Click to toggle: </span>
	<br>
	<span class="green"></span>
	<span class="blue"></span>
	<span class="red"></span><span> = Beautiful Notes | </span>
	<span class="brown"></span><span> = Brown Note | </span>
	<span class="gray"></span><span> = Rest</span>
	<br>
	<span>Right Click to toggle: </span>
	<br>
	<span>s = before code, e = after code</span>
	<table>
		<tr>
		<td id="breakpoints">
			<table id="lines"></table>
		</td>
		<td>
			<textarea id="code" style="font-size:14px; width:600px; height:13px"></textarea>
		</td>
	</tr>
</table>
	<button id="run">Run</button>
	<button id="replay">Replay</button>
	<div>Speed: <div id="speed"></div></div>
	Notes Played:
	<div id="visualization"></div>
</div>
</body>