 .gutter {
    background-color: gray;
    height: 13px;
    width: 13px;
 }

 .red {
    display: inline-block;
    height: 12px;
    width: 12px;

    -moz-border-radius: 6px; /* or 50% */
    border-radius: 6px; /* or 50% */

    background-color: #518CDB;
    color: white;
    text-align: center;
    font-size: 12px;
}

 .green {
    display: inline-block;
    height: 13px;
    width: 13px;

    -moz-border-radius: 6px; /* or 50% */
    border-radius: 6px; /* or 50% */

    background-color: #4AE583;
    color: white;
    text-align: center;
    font-size: 12px;
}


 .blue {
    display: inline-block;
    height: 13px;
    width: 13px;

    -moz-border-radius: 6px; /* or 50% */
    border-radius: 6px; /* or 50% */

    background-color: #E5933F;
    color: white;
    text-align: center;
    font-size: 12px;
}

.clear {
    display: inline-block;
    height: 13px;
    width: 13px;

    -moz-border-radius: 6px; /* or 50% */
    border-radius: 6px; /* or 50% */

    background-color: white;
    color: white;
    text-align: center;
    font-size: 12px;
}

.gray {
    display: inline-block;
    height: 13px;
    width: 13px;

    -moz-border-radius: 6px; /* or 50% */
    border-radius: 6px; /* or 50% */

    background-color: #232323;
    color: white;
    text-align: center;
    font-size: 12px;
}
.brown {
    display: inline-block;
    height: 13px;
    width: 13px;

    -moz-border-radius: 6px; /* or 50% */
    border-radius: 6px; /* or 50% */

    background-color: #5C4033;
    color: white;
    text-align: center;
    font-size: 12px;
}